/* สไตล์ทั่วไป */
body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 20px;
    background-color: #f0f5f5; /* สีพื้นหลังเทาอ่อน */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff; /* สีพื้นหลังของฟอร์ม */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* เพิ่มเงา */
}

.section {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

h2 {
    text-align: center;
    color: #008080; /* สีน้ำเงินทองคำ */
}

/* สไตล์นำทาง */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 20px;
    left: 20px;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #2980b9;
    color: #fff;
}

/* สไตล์ฟอร์ม */
form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #4CAF50; /* สีเขียว */
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #d9534f; /* สีแดง */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: auto;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #c9302c; /* สีแดงเข้มเมื่อโฮเวอร์ */
}

/* เพิ่มสไตล์สำหรับส่วนดาวน์โหลด */
section a.download-link {
    display: inline-block;
    padding: 10px;
    background-color: #4CAF50; /* สีเขียว */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

section a.download-link:hover {
    background-color: #45a049; /* สีเขียวเข้มเมื่อโฮเวอร์ */
}

/* เพิ่มสไตล์สำหรับส่วนอัพโหลด */
input[type="file"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #4CAF50; /* สีเขียว */
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    background-color: #4CAF50; /* สีเขียว */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: auto;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049; /* สีเขียวเข้มเมื่อโฮเวอร์ */
}
